<!DOCTYPE html>
<html lang="en">

  <head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    

    <title>BlogALYH Fútbol</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'BlogALYH/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'BlogALYH/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'BlogALYH/assets/css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'BlogALYH/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'BlogALYH/assets/css/lightbox.css' %}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Una página dedicáda exclusivamente a los <em> amantes </em> del fútbol </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a class="logo">
                          Blog ALYH
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                        <a class="navbar-brand" href="/Coder/Inicio/">Inicio</a>
                          
                          
                              
                         
                          <a class="navbar-brand" href="/Coder/Nosotros/">Acerca de</a>
                          <a class="navbar-brand" href="/Coder/Buscar/">Buscar</a> 
                          <a class="navbar-brand" href="/Coder/Usuario/">Usuario</a>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{% static 'BlogALYH/assets/images/video.mp4' %}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
          
              <h2>Bienvenidos a Blog ALYH</h2>
              <p>Un blog para los amantes del fútbol</a>. Enterate de las útlimas noticias de partidos y ¡sobre tu equipo favorito! </p>
              <div class="main-button-red">
                  <div class="scroll-to-section"><a> ¡Enterate de todo aqui!</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <div class="icon">
                <img src="{% static 'BlogALYH/assets/images/icono.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Noticia de Argentina</h4>
                <p>Lionel Messi es finalista y es tapa de todos los diarios del mundo</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'BlogALYH/assets/images/icono.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Noticia de Italia</h4>
                <p>Vialli deja su cargo en Italia para superar su cancer de pancreas</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'BlogALYH/assets/images/icono.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Noticia de Francia</h4>
                <p>Miguel Simon: "Francia es un equipo peligroso y temible"</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'BlogALYH/assets/images/icono.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Noticia de Francia</h4>
                <p>La enfermedad que podría dejarla sin 5 jugadores para la final con Argentina</p>
              </div>
            </div>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </section>

  
  
  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>NOTICIAS QUE TE PODRÍAN INTERESAR</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/i.jpg' %} " alt="Course One">
              <div class="down-content">
                <h4>Lionel Messi superó a Gabriel Batistuta y es el máximo goleador de Argentina en Mundiales</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/croacia1..jpg' %}" alt="Course Two">
              <div class="down-content">
                <h4>Croacia pagó muy caro los errores y cae 0-3 ante Argentina</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/portugal1..jpg' %}" alt="">
              <div class="down-content">
                <h4>Portugal quedó eliminado de la Copa del Mundo y Marruecos pasó a semis: la tristeza de los jugadores</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/esposasdejugadores.jpg' %}" alt="">
              <div class="down-content">
                <h4>Las promesas de las parejas de los jugadores si la Selección Argentina sale campeón en Qatar 2022</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                  
                      </ul>
                    </div>
                    <div class="col-4">
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/kun.jpg' %}" alt="">
              <div class="down-content">
                <h4>Kun Agüero se quedó en la concentración de la Selección Argentina de cara a la final de Qatar 2022</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                     
                      </ul>
                    </div>
                    <div class="col-4">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/hijoKun.jpg' %}" alt="">
              <div class="down-content">
                <h4>El regalo especial que se llevó el hijo del Kun Agüero tras el triunfo de la Selección Argentina</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                    
                      </ul>
                    </div>
                    <div class="col-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/muani.jpg' %}" alt="">
              <div class="down-content">
                <h4>Randal Kolo Muani: "Ya jugué contra Messi y no cambió mi vida"</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                
                      </ul>
                    </div>
                    <div class="col-4">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/fiebre.jpg' %}" alt="">
              <div class="down-content">
                <h4>Varane y Konaté se suman a la oleada de enfermos en Francia</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                      </ul>
                    </div>
                    <div class="col-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/dibu.jpg' %}" alt="">
              <div class="down-content">
                <h4>Dibu Martínez, previo a la final: "Nos gusta que den favorito a Francia, nosotros tenemos al mejor"</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                 
                      </ul>
                    </div>
                    <div class="col-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/messim.jpg' %}" alt="">
              <div class="down-content">
                <h4>Messi vs. Mbappé: la comparación imposible del atleta contra el artista
                </h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                
                      </ul>
                    </div>
                    <div class="col-4">
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/celebracion.jpg' %}" alt="">
              <div class="down-content">
                <h4>FIFA promete 15 minutos espectaculares en la ceremonia de Clausura de Qatar 2022
                </h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                   
                      </ul>
                    </div>
                    <div class="col-4">
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'BlogALYH/assets/images/lusail.jpg' %}" alt="">
              <div class="down-content">
                <h4>El Lusail, la casa de Argentina en este Mundial que visitará Francia por primera vez</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
             
                      </ul>
                    </div>
                    <div class="col-4">
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Contactese con nosotros</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">ENVIAR MENSAJE</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>010-020-0340</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>info@meeting.edu</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>Rosario, Santa Fe, Argentina</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.meeting.edu</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Clara Astore, Ayax Garcia Williner.
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'BlogALYH/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'BlogALYH/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'BlogALYH/assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'BlogALYH/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'BlogALYH/assets/js/lightbox.js' %}"></script>
    <script src="{% static 'BlogALYH/assets/js/tabs.js' %}"></script>
    <script src="{% static 'BlogALYH/assets/js/video.js' %}"></script>
    <script src="{% static 'BlogALYH/assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'BlogALYH/assets/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>